.ForgotPassword {
  position: relative;

  .GoBack {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    &:hover {
      left: -5px;
    }

    .icon-go-back:before {
      content: 'g';
    }
  }
}