.SignUp {
  position: relative;

  .Title {
    padding-top: 15px;
  }

  .SubmitButtons {
    text-align: center;
    padding-bottom: 15px;

    button {
      background: #26a69a;
      border: none;
      outline: none;
      border-radius: 2px;
      padding: 8px 16px;
      color: #fff;
      text-transform: uppercase;
      margin: 0 15px;
      cursor: pointer;
      transition: 0.5s ease;

      height: 31px;

      &:first-child {
        margin-left: 0;

        &:hover:not(:disabled) {
          background: #007066;
        }
      }

      &:last-child {
        margin-right: 0;
        background: #ff9580;

        &:hover:not(:disabled) {
          background: #ff3333;
        }
      }

      &:disabled {
        background: #ccc;
      }
    }
  }


}