.ForgotPassword {
  position: relative;

  .GoBack {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    &:hover {
      left: -5px;
    }

    .icon-go-back:before {
      content: 'g';
    }
  }

  .Title {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .SubmitButton {
    background: #26a69a;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 8px 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover:not(:disabled) {
      background: #007066;
    }

    &:disabled {
      background: #ccc;
    }
  }
}