.SignIn {
  position: relative;

  .Title {
    padding-top: 15px;
  }

  .FormButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .ForgotButton {
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;

    &:hover {
      color: #26a69a;
    }
  }
}